In [165]:
import pandas as pd

In [166]:
people = {
    'first': ['evan', 'john', 'jason'], 
    'last': ['Das', 'Wachs', 'Li'], 
    'email': ['evandas@gmail.com', 'johnwachs@hotmail.com', 'jasonli@outlook.com'], 
    'gender': ['Male', 'Male', 'Female']
}
df_people = pd.DataFrame(people)
df_people

   first   last                  email  gender
0   evan    Das      evandas@gmail.com    Male
1   john  Wachs  johnwachs@hotmail.com    Male
2  jason     Li    jasonli@outlook.com  Female

In [167]:
df_people['email']

0        evandas@gmail.com
1    johnwachs@hotmail.com
2      jasonli@outlook.com
Name: email, dtype: object

In [168]:
# generate a series object
type(df_people['email'])

pandas.core.series.Series

In [169]:
df_people[['last', 'email']]
# pass a list inside the dataframe

    last                  email
0    Das      evandas@gmail.com
1  Wachs  johnwachs@hotmail.com
2     Li    jasonli@outlook.com

In [170]:
df_people.columns

Index(['first', 'last', 'email', 'gender'], dtype='object')

In [171]:
df_people.iloc[[0, 1], [1, 2]]
# iloc using integer index or list[int, int, ...] to locate specific row(s)
# or you can choose specific index column
# inclusive
# slice: row[0, 1] and return their col[1, 2]

    last                  email
0    Das      evandas@gmail.com
1  Wachs  johnwachs@hotmail.com

In [172]:
df_people.loc[[0, 1], 'email']

0        evandas@gmail.com
1    johnwachs@hotmail.com
Name: email, dtype: object

In [173]:
df_people.set_index('email', inplace = True)
# set a column as index
# original wont be inplace changed by default

In [174]:
df_people.loc['evandas@gmail.com', 'last']
# then you can use loc to access the `index`

'Das'

You can rename the dataframe simply by input another list

In [175]:
df_people.columns
df_people.columns = ['first_name', 'last_name', 'Gender']
df_people

                      first_name last_name  Gender
email
evandas@gmail.com           evan       Das    Male
johnwachs@hotmail.com       john     Wachs    Male
jasonli@outlook.com        jason        Li  Female

You can also use list comprehension to rename all the column names

In [176]:
df_people.columns = [x.upper() for x in df_people.columns]
df_people

                      FIRST_NAME LAST_NAME  GENDER
email
evandas@gmail.com           evan       Das    Male
johnwachs@hotmail.com       john     Wachs    Male
jasonli@outlook.com        jason        Li  Female

`str.replace` function

In [177]:
df_people.columns = df_people.columns.str.replace('_', ' ')
df_people

                      FIRST NAME LAST NAME  GENDER
email
evandas@gmail.com           evan       Das    Male
johnwachs@hotmail.com       john     Wachs    Male
jasonli@outlook.com        jason        Li  Female

use `df.rename(columns = {})` function to rename, `inplace = False` by default

In [178]:
df_people.rename(columns = {
    'FIRST NAME': 'first_name',
    'LAST NAME': 'last_name'
}, inplace = True)

Notice `iloc` only receive Integers, it asks for index, `loc` can take both row labels (index) and column labels

In [179]:
df_people.loc['evandas@gmail.com', ['first_name', 'last_name']] = ['EVAN', 'DAS']
df_people

                      first_name last_name  GENDER
email
evandas@gmail.com           EVAN       DAS    Male
johnwachs@hotmail.com       john     Wachs    Male
jasonli@outlook.com        jason        Li  Female

change one value

In [180]:
df_people.loc['johnwachs@hotmail.com', 'first_name'] = 'JOHN'
df_people

                      first_name last_name  GENDER
email
evandas@gmail.com           EVAN       DAS    Male
johnwachs@hotmail.com       JOHN     Wachs    Male
jasonli@outlook.com        jason        Li  Female

In [ ]:
df_peoplp = df_people.reset_index(inplace = True)
# reset index back to 0
df_people

                   email first_name last_name  GENDER
0      evandas@gmail.com       EVAN       DAS    Male
1  johnwachs@hotmail.com       JOHN     Wachs    Male
2    jasonli@outlook.com      jason        Li  Female

In [ ]:
# set all email address to upper case
# Approach 1
df_people['email'] = df_people['email'].str.lower()
df_people

In [191]:
# Approach 2
# Using apply to pass a function
def update_email(email):
    return email.upper()
df_people['email'].apply(update_email)

0        EVANDAS@GMAIL.COM
1    JOHNWACHS@HOTMAIL.COM
2      JASONLI@OUTLOOK.COM
Name: email, dtype: object

In [ ]:
# Approach 3, same with Approach 2
df_people['email'].apply(lambda x: x.upper())

0        EVANDAS@GMAIL.COM
1    JOHNWACHS@HOTMAIL.COM
2      JASONLI@OUTLOOK.COM
Name: email, dtype: object