In [39]:
import pandas as pd

In [40]:
df = pd.read_csv('data/survey_results_public.csv')
schema_df = pd.read_csv('data/survey_results_schema.csv')

In [ ]:
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49123 entries, 0 to 49122
Columns: 170 entries, ResponseId to JobSat
dtypes: float64(50), int64(1), object(119)
memory usage: 63.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139 entries, 0 to 138
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   qid       139 non-null    object
 1   qname     139 non-null    object
 2   question  139 non-null    object
 3   type      139 non-null    object
 4   sub       49 non-null     object
 5   sq_id     49 non-null     float64
dtypes: float64(1), object(5)
memory usage: 6.6+ KB

In [49]:
df.head(10)

   first   last                  email
0   evan    Das      evandas@gmail.com
1   john  Wachs  johnwachs@hotmail.com
2  jason     Li    jasonli@outlook.com

In [50]:
schema_df.tail(10)

,qid,qname,question,type,sub,sq_id
129,QID89,AIAgentKnowledge,You indicated you use or develop AI agents as ...,MC,NaN,NaN
130,QID107,AIAgentKnowWrite,Was the tool or tools for AI agent orchestrati...,TE,NaN,NaN
131,QID90,AIAgentOrchestration,You indicated you use or develop AI agents as ...,MC,NaN,NaN
132,QID102,AIAgentOrchWrite,Was the tool or tools for AI agent orchestrati...,TE,NaN,NaN
133,QID91,AIAgentObserveSecure,You indicated you use or develop AI agents as ...,MC,NaN,NaN
134,QID103,AIAgentObsWrite,Was the tool or tools for AI agent observabili...,TE,NaN,NaN
135,QID92,AIAgentExternal,You indicated you use or develop AI agents as ...,MC,NaN,NaN
136,QID104,AIAgentExtWrite,"Was the out-of-the-box agents, copilots or ass...",TE,NaN,NaN
137,QID100,AIHuman,"In the future, if AI can do most coding tasks,...",MC,NaN,NaN
138,QID93,AIOpen,"Looking ahead 3–5 years, what skills do you be...",TE,NaN,NaN

In [43]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
# display all the columns/rows, or a sepcific number at None

In [ ]:
people = {
    'first': ['evan', 'john', 'jason'], 
    'last': ['Das', 'Wachs', 'Li'], 
    'email': ['evandas@gmail.com', 'johnwachs@hotmail.com', 'jasonli@outlook.com']
}
df = pd.DataFrame(people)
df

   first   last                  email
0   evan    Das      evandas@gmail.com
1   john  Wachs  johnwachs@hotmail.com
2  jason     Li    jasonli@outlook.com

In [48]:
df['email']

0        evandas@gmail.com
1    johnwachs@hotmail.com
2      jasonli@outlook.com
Name: email, dtype: object

In [ ]:
# generate a series object
type(df['email'])

pandas.core.series.Series

In [ ]:
df[['last', 'email']]
# pass a list inside the dataframe

    last                  email
0    Das      evandas@gmail.com
1  Wachs  johnwachs@hotmail.com
2     Li    jasonli@outlook.com

In [ ]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [58]:
df.iloc[[0, 1], [1, 2]]
# iloc using integer index or list[int, int, ...] to locate specific row(s)
# or you can choose specific index column

    last                  email
0    Das      evandas@gmail.com
1  Wachs  johnwachs@hotmail.com

In [ ]:
df.loc[[0, 1], 'email']

0        evandas@gmail.com
1    johnwachs@hotmail.com
Name: email, dtype: object